*.zip
*.xlsx
# 999999/1603/45/16/csv/*.csv
999999999/0_4.Dockerfile
999999999/0_4.sh

__pycache__
.pytest_cache
.benchmarks
.bundle
vendor
Gemfile.lock
package.json
package-lock.json
node_modules
*~lock.*

# Use by some temporary files
*.TEMP.*

999999/0/*.*
999999/0/**
999999/0/*.ttl
# @TODO: eventualy fix the spelling of filename on 999999/0/.gitkep
!999999/0/.gitkeep
!999999999/1568346/*
catalog-v001.xml

# *.xml
# *.tmx
# *.tbx
*.pdf
*.epub
*.mobi
*.ttf
*.otf
*.db
*.sqlite
# *.wikiq~1_20*

# Example: 999999/1679/45/16/76/2/1679_45_16_76_2.wikiq~2_20.tm.hxl.csv
*.wikiq~[0-9]*_[0-9]*.tm.hxl.csv

# These files generate by software start from 30mb and up.
# Not need to be commited on repository.
1603/2600/2/0-9a-z__4__b60.tsv
1603/2600/2/0-9a-z__4__b60.sorted.tsv
1603/2600/2/a-z__4__b60.sorted.tsv
1603/2600/2/a-z__4__b60.tsv

999999999/1603_45_16-temp.sh

# officinam/1603/2600/2/a-z__4__b60.tsv
