*.zip
*.xlsx
# 999999/1603/45/16/csv/*.csv
999999999/0_4.Dockerfile
999999999/0_4.sh

__pycache__
.pytest_cache
.benchmarks
.bundle
vendor
Gemfile.lock

# Use by some temporary files
*.TEMP.*

999999/0/
!999999/0/.gitkep
*.pdf
*.epub
*.mobi

# These files generate by software start from 30mb and up.
# Not need to be commited on repository.
1603/2600/2/0-9a-z__4__b60.tsv
1603/2600/2/0-9a-z__4__b60.sorted.tsv
1603/2600/2/a-z__4__b60.sorted.tsv
1603/2600/2/a-z__4__b60.tsv

# officinam/1603/2600/2/a-z__4__b60.tsv
